.video-bg{
  height: 100vh;
  object-fit: cover;
}
.dark-bg{
  background: rgba(38,38,38,.7);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding-top: 30px;
  overflow: auto;
}
.add-person{
    color: aliceblue;
    font-size: 24px
}
.form-person{
  padding: 15px;
}
.form-group{
  margin-bottom: 15px;
  .not-valid{
    border-color: red;
  }
  label{
    margin-bottom: 10px;
  }
}
.parents-optional{
  margin: 15px;
  padding: 15px;
  border: 1px solid rgba(38, 38, 38, 0.7);
  border-radius: 4px;
  .optional{
    opacity: .5;
    margin-bottom: 30px;
    display: block;
  }
}
.person-block{
  margin: 15px;
  padding: 15px;
}
.overlay-folder{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgb(226, 226, 226, .7);
}
.list{
  list-style: none;
  padding: 0;

  .family{
    background: rgb(255 255 244 / 4%);
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 10px 5px 10px rgb(0 0 0 / 21%);
    transition: opacity 1s ease-out;

  }
  li{
    text-align: left;
    font-size: 16px;
    padding: 15px;
    border-bottom: 1px solid rgb(211 211 211 / 28%);
    opacity: 0;
    &.active{
      opacity: 1;
    }
    img{
      width: 40px;
      border-radius: 100%;
      margin-right: 15px;
    }
    .name{
      opacity: .5;
    }
  }
}
@media(max-width: 400px){
  .list {
    li{
      padding: 0;
    }
  }
  .person-block{
    margin: 0;
  }
  .parents-optional{
    margin: 0;
  }
}