.video-bg{
  height: 100vh;
  object-fit: cover;
}
.dark-bg{
  background: rgba(38,38,38,.7);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding-top: 30px;
}
.add-person{
    color: aliceblue;
    font-size: 24px
}
.form-person{
  padding: 15px;
}
.form-group{
  margin-bottom: 15px;
  label{
    margin-bottom: 10px;
  }
}
.parents-optional{
  margin: 15px;
  padding: 15px;
  border: 1px solid rgba(38, 38, 38, 0.7);
  border-radius: 4px;
  .optional{
    opacity: .5;
    margin-bottom: 30px;
    display: block;
  }
}
.person-block{
  margin: 15px;
  padding: 15px;
}